*{
  color: black;
}

.fondo{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(44, 44, 44)),
    
    url('../../assets/img/centrodiagnostico.jpg') no-repeat center center;
  background-size: cover;
  width: -webkit-fill-available;
  height: 90.5vh;
  display: flex;
  justify-content: center;

}
.selector{
    width: 30vw;
    border-radius: 25px;
    height: 65vh;
    margin-top: 10vh;
    background-color: #322783b2;
    backdrop-filter:blur(10px);
    justify-content: center;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
  color: white;
}
.selector select {
  width: -webkit-fill-available;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Elimina la apariencia predeterminada del select */
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.293 7.293a1 1 0 10-1.414 1.414L18.586 12l-3.707 3.293a1 1 0 101.414 1.414l4-4a1 1 0 000-1.414l-4-4zM7 12a1 1 0 011-1h8a1 1 0 110 2H8a1 1 0 01-1-1z" fill="%23333" /></svg>'); /* Agrega un icono de flecha */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  cursor: pointer;
}

/* Estilos para los selects cuando están enfocados */
.selector select:focus {
  outline: none;
  border-color: #360034;
}



.custom-select:focus {
  border-color: #550039;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(65, 0, 43, 0.25);
}

.custom-select option {
  color: #495057;
  background-color: #fff;
}

.custom-select option:hover {
  background-color: #000e1b;
}


.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
  cursor: pointer;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}


option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  /* Agrega aquí tus estilos personalizados */
  background: #550039;
}
.user-table {
  border-collapse: collapse;
  width: 100%;
  color: #000;
}

.user-table th, .user-table td {
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
