<table class="user-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="shouldReloadNgFor">
        <ng-container *ngFor="let dise of diseno" class="n">
          <tr class="fila">
            <td>{{ dise.nombre}}</td>
            <td><button><a href="http://127.0.0.1:8000/{{dise.ruta_archivo}}" download>Visualizar Diseño</a></button></td>
            <td class="actions">
           
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
