      
      
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Enlaces</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Enlaces</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>



<div class="anuncios-container" *ngIf="!cargando">
<div class="añadir">
  <form class="buscar" (submit)="buscarEnlace()">
    <input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombreBusqueda" name="nombreBusqueda">
    <button type="submit"> <i  class="nav-icon fas fa-search" style="color:#ffffff; background-color: black;"></i></button>
  </form>
  <a *ngIf="permisos.EnC==1" routerLink="/CrearEnlace"><p class="botonañadir">añadir&nbsp;&nbsp;<i class="nav-icon fas fa-plus" style="color:white;background-color:#343a40;"></i></p></a>
</div>
<table class="anuncios-table">
<thead>
  <tr>
    <th>Dirección</th>
    <th>Notas</th>
    <th>actions</th>
  </tr>
</thead>
<tbody>
  <ng-container *ngIf="shouldReloadNgFor">
    <ng-container *ngFor="let anuncio of enlaces.slice(cont - 1, cont - 1 + limit)">
      <tr>
        <td><a href="{{anuncio.direccion}}">{{anuncio.nombre}}</a></td>
        <td>{{anuncio.notas}}</td>
        <td class="actions">
          <a *ngIf="permisos.EnU==1" [routerLink]="['/CrearEnlace']" [queryParams]="{ id: anuncio.id }"><i class="nav-icon fas fa-pen" style="color:#343a40;"></i></a>
          <i *ngIf="permisos.EnD==1" (click)="borrarenlace(anuncio.id)" class="nav-icon fas fa-trash" style="color:#343a40;"></i>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</tbody>
</table>


  <div class="pagina" >
      <button class="button1" (click)="paginacion('<')" *ngIf="page != 1">
          <div class="button-box1">
              <span class="button-elem1">
                  <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                      ></path>
                  </svg>
              </span>
              <span class="button-elem1">
                  <svg viewBox="0 0 46 40">
                      <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                      ></path>
                  </svg>
              </span>
          </div>
      </button>

      
      
      <p>{{ page }}</p>
      
      <button class="button" (click)="paginacion('>')" *ngIf="page != totalPages && totalPages>1">
                  <div class="button-box">
                  <span class="button-elem">
                      <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                      ></path>
                      </svg>
                  </span>
                  <span class="button-elem">
                      <svg viewBox="0 0 46 40">
                      <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                      ></path>
                      </svg>
                  </span>
                  </div>
              </button>
      
      
  </div>

  <div class="resultados-busqueda">
    <div class="salir"><i (click)="cerrarbusq()" class="nav-icon fas fa-chevron-left" style="size: 20px; color: red;"></i></div>
    <table class="anuncios-table">
      <thead>
        <tr>
          <th>Dirección</th>
          <th>Notas</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="shouldReloadNgFor">
          <ng-container *ngFor="let anuncio of resulbusqueda.slice(cont - 1, cont - 1 + limit)">
            <tr>
              <td><a href="{{anuncio.direccion}}">{{anuncio.nombre}}</a></td>
              <td>{{anuncio.notas}}</td>
              <td class="actions">
                <i  class="nav-icon fas fa-pen" style="color:#343a40;"></i>
                <i (click)="borrarenlace(anuncio.id)" class="nav-icon fas fa-trash" style="color:#343a40;"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      </table>
  </div>
</div>

<div class="contenedor">
  <div class="loop cubes" *ngIf="cargando">
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
  </div>
</div>

