<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Aplicaciones</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Aplicaciones</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>


<div class="grid-container">
    <div class="app-item">
    <a routerLink="/Seleccion">
      <img src="../assets/img/G.png" alt="Logo de Aplicación 1" class="app-logo">
      <p class="app-name">Gestión de Aulas</p>
    </a>
    </div>
    <div class="app-item">
      <a href="http://10.6.1.115/PacsLandingPages/PacsLandingPage.html?release_mode=RMD&overarching_date=0000-00-00&overarching_build_number=00000&overarching_version=00.0.0.0">
      <img src="../assets/img/carestream.jpg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Carestream</p></a>
    </div>
    <div class="app-item">
      <a href="https://auth.eniax.cl/login?next=https://webapp.eniax.cl/login?next=%2F">
      <img src="../assets/img/eniax.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Eniax</p></a>
    </div>
    <div class="app-item">
      <a href="https://myvue.centrodiagnostico.com/portal/WebLogin.aspx?ReturnUrl=%2fportal%2f">
      <img src="../assets/img/vue.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">MyVue</p></a>
    </div>
    <div class="app-item">
      <a href="http://10.24.0.207/CADstream/servlet/LoginServlet?action=showLogin">
      <img src="../assets/img/cadstream.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">CADstream</p></a>
    </div>
    <div class="app-item">
      <a href="http://cedirismd/">
      <img src="../assets/img/cedirismd.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Cediris MD</p></a>
    </div>
    <div class="app-item">
      <a href="http://cedirisweb:8000/">
      <img src="../assets/img/cedirismd.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Cediris La Paz</p></a>
    </div>
    <div class="app-item">
      <a href="http://cedirisweb:8000/">
      <img src="../assets/img/diraya.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">PDPCM UMM</p></a>
    </div>
    <div class="app-item">
      <a href="http://89.6.106.69/CuadroCentroGranada/Grafica1.aspx">
      <img src="../assets/img/cuadromandos.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Cuadro de Mandos</p></a>
    </div>
    <div class="app-item">
      <a href="https://auth.teamplay.siemens-healthineers.com/login?state=hKFo2SBEWlNoRDFSejBnSTdSOEk5dlM0RWNJcEpncDRJeVVTX6FupWxvZ2luo3RpZNkgN3hkbTZabUJiTWFsbXVILW9wN0RQemdEODdFNkE0cG-jY2lk2SA5SGdkRmY4bnRKWGhKNmwyR3BBVkE4ZHE1VmV5QURDRw&client=9HgdFf8ntJXhJ6l2GpAVA8dq5VeyADCG&protocol=oauth2&response_type=code&redirect_uri=https%3A%2F%2Fwebclient.eu.api.teamplay.siemens-healthineers.com%3FuserServiceUrl%3Dhttps%3A%2F%2Fusers-service.eu.api.teamplay.siemens-healthineers.com&scope=openid%20email&audience=https%3A%2F%2Fteamplay.siemens.com%2Fappauth%2Fweuprod&_csrf=0gkSHQLc-1e-EKgGxuTqv19jrghhNCujCe3s&_intstate=deprecated&nonce=bWhYcmFnMXJQQ0dVekdJREtVSlZBWGtidHhwUjJhYVJsQTI3cnh2cjVXTzB4&connection=Username-Password-Authentication&sso=true&auth0Client=eyJuYW1lIjoiYXV0aDAuanMiLCJ2ZXJzaW9uIjoiOS4yMC4wIn0%3D">
      <img src="../assets/img/teamplay.jpeg" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Team-Play</p></a>
    </div>

    
    <!-- Agrega más aplicaciones aquí según sea necesario -->
  </div>