<div class="container">
    <div class="register" *ngIf="shouldReloadNgFor">
        <form (ngSubmit)="guardarAnuncio()" enctype="multipart/form-data">
            <label for="chk" aria-hidden="true">Sube tus Diseños</label>
            <input [(ngModel)]="nombre" class="input" type="text" name="nombre" placeholder="Nombre Diseño" required="">
            <input type="file" #archivoInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .pdf, .docx" required="">
            <button type="submit">Guardar Diseño</button>
        </form>
    </div>
  </div>
