body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    padding-top: 50px; /* Añade espacio en la parte superior para mover el contenido hacia abajo */
}

.register {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.input, input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
